.form{
    border:2px solid black;
    margin: 30px 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.title{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 30px;
}
.address_detail_1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.inner_input{
    margin-right: 10px;
}
.contact-title{
    font-size: 25px;
    margin-top: 20px;
}
.content-wrapper{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
}
.text{
   /* margin-right: 100px;*/
    margin-left: -70px;
}
.icon{
    padding-top: 5px;
    /*margin-left: 60px;*/
    display: flex;
    justify-content: flex-end;

}
.next-section{
    margin-right: 5px;
}
.input-wrap{
    display: flex;
    flex-direction: row;    
}
.mobile-label{
    margin-right: 200px;
}
.custom-control-label{
    padding-left: 3px;
}
.next-section{
    display: flex;
    flex-direction: row;
}

.btn{
    padding:8px 50px;
    width: 300px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.address-title{
    font-size: 25px;
    margin-top: 20px;
}
.table{
    text-align: center;
}
.edit-icon{
    margin-right: 10px;
}
